.container_grid {
  display: flex;
  width: 500px;
  height: 500px;
  border:2px solid black;
  flex-wrap: wrap;
}

.cell{
  border: 1px solid black;
  flex: 0 0 calc(100% / 16);
  margin: none;
  box-sizing: border-box;
}

.color {
  background-color: rgb(158, 61, 77); ;
}